# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build artifacts
dist/
build/
coverage/
*.zip

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
!.vscode/settings.json
!.vscode/launch.json
.idea/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Jest
jest-junit.xml

# Webpack
.webpack/